$amber-400: #FFCA28;
$avatar-max-size: 250px;

#avatar {
  height: 30vmax;
  width: 30vmax;
  max-height: $avatar-max-size;
  max-width: $avatar-max-size;
  border-radius: 50%;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}

a {
  color: $amber-400 !important;
}

main {
  display: grid;
  grid-gap: 0.75em 1.5em;

  .mobile.portrait & {
    grid-template-rows: auto auto 36px 48px;
    align-self: end;
  }

  h1 {
    margin-bottom: 5px !important;
    font-weight: 500 !important;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 20px !important;
  }

  #links {
    grid-row: 2;
    align-self: end;
    justify-self: center;
    display: flex;
    justify-content: space-around;

    a {
      opacity: 0.6;
      transition: opacity .3s ease-in-out;
    }

    .desktop & a:hover {
      opacity: 1;
    }
  }

  #resume {
    align-self: end;
    justify-self: center;
  }
}

.landscape main {
  grid-template-rows: auto;
  grid-template-columns: minmax(1fr, $avatar-max-size) 1.5fr;

  #content {
    grid-column: 2;
    grid-row: 1 / end;
    padding-top: 10px;

    p {
      margin-top: 10px;
      max-width: 340px;
    }
  }

  #links {
    width: 100%;
  }
}

.portrait main {
  height: 95%;
  grid-gap: 2vh;
  text-align: center;

  #avatar {
    align-self: end;
    justify-self: center;
  }

  p {
    max-width: 340px;
    margin: 10px auto 0;
  }

  #links {
    grid-row: 4;
    width: 60vw;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 2em !important;
  }

  h2 {
    font-size: 1.1em !important;
    margin-bottom: 10px !important;
  }

  p {
    max-width: 260px;
  }
}

.tablet {
  main {
    #links {
      width: 60vw;

      svg {
        height: 36px;
        width: 36px;
      }
    }
  }

  &.portrait main {
    grid-template-rows: 1fr 1fr auto auto;

    #links {
      margin-bottom: 10px;
    }
  }

  &.landscape main {
    #links {
      margin-top: 10px;
      max-width: 250px;
    }
  }
}
