html, body {
  overflow: hidden;
  --max-height: 100vh;

  .ios & {
    --max-height: calc(100vh + 1px);
  }
}

#app {
  height: 100vh;
  height: env(--max-height);
  display: grid;

  .background, main {
    grid-row: 1;
    grid-column: 1;
  }

  .background {
    max-height: 100vh;
    max-height: env(--max-height);
    z-index: 0;
  }

  main {
    align-self: center;
    justify-self: center;
  }
}
