html, body {
  overflow: hidden;
}

#app {
  height: 100vh;
  display: grid;

  .background, main {
    grid-row: 1;
    grid-column: 1;
  }

  .background {
    max-height: 100vh;
    z-index: 0;
  }

  main {
    align-self: center;
    justify-self: center;
  }
}
